body{
    background-color: rgb(50,50,50);
    background-color: linear-gradient(153deg, rgba(50,50,50,1) 21%, rgba(74,74,74,1) 100%);
}


.header{
    padding: 2rem;
    margin-top: 6rem;
    max-width: 800px;
    margin: 6rem auto;
    background-color: rgb(209, 175, 130);


    .header_image{
        float: left;
        position: relative;
        width: 100px;            
        height: 37px;
        margin: 0 2rem 2rem 0;
        .image{
            top: -6rem;
            width: 100px;
            position: absolute;
            padding: .5rem;
            background-color: rgb(245, 245, 245);
            border-radius: 2px;
            filter: contrast(67%);
        }
    }

    .header_content{
        font-size: 1.8rem;
        color: rgb(90, 90, 90);
        line-height: 1.4;
        .para{
            font-family: 'Pacifico', cursive;
        }

        span{
            display: block;
            font-size: 6rem;
            line-height: 1.0;
            font-family: 'Zhi Mang Xing', cursive;
            color: rgb(77, 77, 77);
        }
    }
        
}

.portfolio{
    max-width: 900px;
    margin: 6rem auto 3rem auto;

    &_heading{
        text-align: center;
        font-size: 3rem;
        font-family: 'Arvo', serif;
        color: rgb(128, 128, 128);
    }
}